<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
		<property name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
		<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
		<mapping class="net.mcavenue.redspigot.model.PlayerPermissions"></mapping>
		<mapping class="net.mcavenue.redspigot.model.RedPlayer"></mapping>
	</session-factory>
</hibernate-configuration>